<!--
<strong>
    <p mat-dialog-title align="center">Mensaje</p>
</strong>
    <mat-card class="border border-danger">
        <div mat-dialog-content align="center">
            <p></p>
        </div>
        <div align="center">
            <img src="assets/gif/1.gif" alt="" width="100px" height="100px">
        </div>
        <div mat-dialog-actions class="justify-content-center">
           <button mat-button (click)="cerrarDialog()" class="btn btn-primary mr-2">Aceptar</button>  
           
        </div>
    </mat-card>

    -->