
    <div id="app">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                  <div class="d-flex justify-content-start">
                    <a mat-button [routerLink]="['/home']">
                        <i class="fas fa-home"></i>
                        HOME</a>
                  </div>
                  <div class="d-flex justify-content-start" *ngIf="showFrmAdmin">
                    <a class="nav-item" mat-button [routerLink]="['/admin']">
                        <i class="fas fa-user-tie"></i>
                        ADMIN</a>
                  </div>
                  <div class="d-flex justify-content-start" *ngIf="showFrmAdmin">
                      <div class="dropdown">
                        <a class="dropdown-toggle" mat-button id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-cart-plus"></i>
                            PRODUCTOS
                        </a>
                        <div class="dropdown-menu bg-dark" aria-labelledby="dropdownMenuButton" *ngIf="showFrmAdmin">
                            <a class="dropdown-item" [routerLink]="['/data']" >VER</a>
                            <a class="dropdown-item" [routerLink]="['/producto']" >DAR DE ALTA</a>
                        </div>   
                      </div>    
                  </div>
                  <div class="d-flex justify-content-start" *ngIf="showFrmEmp">
                    <a class="nav-item" mat-button [routerLink]="['/emp']">
                        <i class="fas fa-user-friends"></i>
                        EMPLEADOS</a>
                  </div>
                  <div class="d-flex justify-content-start" *ngIf="isLoggin">
                    <a class="nav-item" mat-button [routerLink]="['/user']">
                        <i class="fas fa-users"></i>
                        USUARIO</a>
                  </div>
              </div>
              <div class="navbar-nav ml-auto" *ngIf="!isLoggin">
                <div class="d-flex justify-content-start">
                    <a class="nav-item" mat-button [routerLink]="['/register']">
                        <i class="fas fa-user-plus"></i>
                        REGISTRARSE</a>
                </div>
                <div class="d-flex justify-content-start">
                    <a class="nav-item" mat-button [routerLink]="['/login']">
                        <i class="fas fa-sign-in-alt"></i>
                        LOGIN</a>
                </div>
              </div>
              <div class="navbar-nav ml-auto" *ngIf="isLoggin">
                <div class="d-flex justify-content-start">
                    <a class="nav-item" mat-button [routerLink]="['/profile']">
                        <i class="fas fa-user-circle"></i>
                        {{ username }}</a>
                </div>
                <div class="d-flex justify-content-start">
                    <a mat-button (click)="logout()">
                        <i class="fas fa-power-off"></i>
                        CERRAR SESION</a>
                </div>
              </div>
            </div>
        </nav>
    </div>