.login-form {
    padding: 4rem 1rem;
  }

mat-card {
    max-width: 320px;
    max-height: 350px;
    margin: auto;
    text-align: center;
    box-sizing: content-box;
    /* height: 280px;*/
  }

.full-width-input
    {
    width: 100%;
  }

  button{
    width: 50%;  
  }

  .separator {
    margin-bottom: 10px;
  }
